* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.hero {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.selected {
  height: 300px;
  object-fit: cover;
  width: 80%;
  margin: 25px 0;
  border-radius: 40px;
  cursor: pointer;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.imgContainer img {
  width: 150px;
  height: 100px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 20px;
}
